/* General ---> */
* {
  margin: 0;
  padding: 0;
}

:root {
  --colorLight: #f2f2f2;
  --colorSkyBlue: #6bbef2;
  --colorBlue: #0487d9;
  --colorDarkBlue: #03258c;
  --colorAction: #f27405;
  --colorRubin: #008a9c;
  --amatic: "Amatic SC", Verdana, Arial, Helvetica, sans-serif;
  --andika: Andika, Verdana, Arial, Helvetica, sans-serif;
  --public: "Public Sans", Tahoma, Verdana, sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1500px;
  font-family: var(--andika);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
}

h2,
h3 {
  font-family: var(--public);
}

/* <--- General */

/* Header ---> */

header {
  height: 230px;
  background-image: url(../images/celso-405219.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--amatic);
  font-size: 2.5rem;
  color: var(--colorAction);
  padding: 10px;
}

.nav-link:hover,
#active {
  text-decoration: underline;
  color: var(--colorSkyBlue);
}

#menu {
  display: none;
}

.navigation {
  display: none;
}

.nav-link {
  color: var(--colorLight);
  font-family: var(--public);
  font-weight: 600;
  font-size: 25px;
}

.support,
.support:hover {
  color: var(--colorAction);
}

.navigation li {
  display: inline-block;
  padding: 10px 0;
  letter-spacing: 3px;
  border: 1px solid var(--colorLight);
  width: 100%;
  text-align: center;
}

.mobile-menu {
  color: #f2f2f2;
  font-size: 2rem;
  padding: 10px 20px;
  cursor: pointer;
}

#menu:checked + .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--colorLight);
  position: absolute;
  top: 230px;
  background-color: #0e0e0c;
  width: 99.5%;
}

/* <--- Header */

/* Index ---> */

.main-content {
  display: grid;
  grid-template-columns: fit-content(auto, 1fr);
  grid-template-rows: repeat(130, 50px);
  column-gap: 10px;
  row-gap: 10px;
}

.main-content a:hover {
  opacity: 0.8;
}

.home-box1,
.home-box3,
.home-box4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--colorRubin);
  color: var(--colorLight);
}
.home-box1 {
  grid-row: span 7;
  background-color: var(--colorBlue);
}

.home-box1 p {
  width: 50%;
  margin-bottom: 10px;
}

.home-box2 {
  grid-row: span 7;
  background-image: url(../images/tyrannosaurus.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-box4 {
  grid-row: span 3;
}

.img1,
.img2,
.img3,
.img4,
.img5 {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img1 {
  background-image: url(../images/astronomy-ge5cb05244_640.png);
}

.img2 {
  background-image: url(../images/evolution-g9652136be_640.png);
}

.img3 {
  background-image: url(../images/biology-gdf6883720_640.png);
}

.img4 {
  background-image: url(../images/tree-gb7c1e05a2_640.png);
}

.img5 {
  background-image: url(../images/linear-gfd439c291_640.png);
}

/* <--- Index */

/* <--- General */
/* ---> General */
/* <--- General */
/* ---> General */
/* <--- General */
/* ---> Footer */
.footer {
  background-color: var(--colorRubin);
}

i {
  color: var(--colorLight);
  font-size: 50px;
}
/* <--- Footer */

@media screen and (min-width: 950px) {
  .navigation {
    display: flex;
    justify-content: space-around;
  }

  .navigation li {
    border: 0;
    padding: 10px 20px;
  }

  .mobile-menu {
    display: none;
  }

  .main-content {
    grid-template-columns: repeat(6, 1fr);
  }

  .col2 {
    grid-column: span 2;
  }

  .col3 {
    grid-column: span 3;
  }

  .col6 {
    grid-column: span 6;
  }
}
