/* -------------------------- General --------------------------> */
* {
  margin: 0;
  padding: 0;
}

:root {
  --colorLight: #f2f2f2;
  --colorSkyBlue: #6bbef2;
  --colorBlue: #0487d9;
  --colorDarkBlue: #03258c;
  --colorAction: #f27405;
  --colorRubin: #008a9c;
  --amatic: "Amatic SC", Verdana, Arial, Helvetica, sans-serif;
  --andika: Andika, Verdana, Arial, Helvetica, sans-serif;
  --public: "Public Sans", Tahoma, Verdana, sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1500px;
  font-family: var(--andika);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
}

h2,
h3 {
  font-family: var(--public);
}

.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: var(--colorLight);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

/* <-------------------------- General -------------------------- */

/* -------------------------- Header --------------------------> */

header {
  height: 230px;
  background-image: url(../images/celso-405219.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0.95;
}

.logo {
  font-family: var(--amatic);
  font-size: 2.5rem;
  color: var(--colorLight);
  padding: 10px;
}

.nav-link:hover,
#active {
  text-decoration: underline;
}

#menu {
  display: none;
}

.navigation {
  display: none;
}

.nav-link {
  color: var(--colorLight);
  font-family: var(--public);
  font-weight: 600;
  font-size: 25px;
}

.support,
.support:hover {
  color: var(--colorAction);
}

.navigation li {
  display: inline-block;
  padding: 10px 0;
  letter-spacing: 3px;
  border: 1px solid var(--colorLight);
  width: 100%;
  text-align: center;
}

.mobile-menu {
  color: #f2f2f2;
  font-size: 2rem;
  padding: 10px 20px;
  cursor: pointer;
}

#menu:checked + .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--colorLight);
  position: absolute;
  top: 230px;
  background-color: #0e0e0c;
  width: 99.5%;
}

/* <-------------------------- Header -------------------------- */

/* -------------------------- Index -------------------------- */

.main-content {
  display: grid;
  grid-template-columns: fit-content(auto, 1fr);
  grid-auto-rows: 50px;
  gap: 10px;
  margin: 10px;
}

.main-content a:hover {
  opacity: 0.8;
}

.home-box1,
.home-box3,
.home-box4,
.cosmo-box1,
.evolution-box1,
.biology-box1,
.ecology-box1,
.ai-box1,
.explore-box1,
.explore-box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--colorRubin);
  color: var(--colorLight);
}
.home-box1 {
  grid-row: span 7;
}

.home-box1 p {
  width: 50%;
  margin-bottom: 10px;
}

.home-box2,
.home-box5,
.home-box6,
.home-box7,
.explore-box3,
.explore-box4,
.explore-box5,
.explore-box6,
.explore-box7,
.explore-box8,
.explore-box9,
.explore-box10 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-box2 {
  grid-row: span 7;
  background-image: url(../images/tyrannosaurus.jpg);
}

.home-box6 {
  grid-row: span 7;
  animation: home-box6 20s ease-in-out infinite;
}
@keyframes home-box6 {
  0%,
  100% {
    background-image: url(../images/moon-display.jpg);
  }
  25% {
    background-image: url(../images/evolution2.jpg);
  }
  50% {
    background-image: url(../images/anatomical.jpg);
  }
  75% {
    background-image: url(../images/robotics1.jpg);
  }
}

.frame {
  height: 100%;
  width: 100%;
}

.home-box5 {
  display: none;
}
.home-box7 {
  display: none;
}

/* <-------------------------- Index -------------------------- */

/* -------------------------- Exhibition --------------------------> */

.ex-menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ex-menu a {
  padding: 10px;
}

.ex-menu a:hover {
  opacity: 80%;
}

.img1,
.img2,
.img3,
.img4,
.img5 {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 5px solid;
}

.img1 {
  background-image: url(../images/astronomy-ge5cb05244_640.png);
}

.img2 {
  background-image: url(../images/evolution-g9652136be_640.png);
}

.img3 {
  background-image: url(../images/biology-gdf6883720_640.png);
}

.img4 {
  background-image: url(../images/tree-gb7c1e05a2_640.png);
}

.img5 {
  background-image: url(../images/linear-gfd439c291_640.png);
}

.exhibition-parallax {
  background-image: url(../images/museum-exhibition.jpg);
}

.cosmo-box1,
.evolution-box1,
.biology-box1,
.ecology-box1,
.ai-box1 {
  grid-row: span 6;
  padding: 10px 20px;
  background-color: var(--colorRubin);
  color: var(--colorLight);
}

.cosmo-box2,
.evolution-box2,
.biology-box2,
.ecology-box2,
.ai-box2 {
  grid-row: span 4;
  background-image: url(../images/planetarium1.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.cosmo-box3,
.cosmo-box4,
.evolution-box3,
.evolution-box4,
.biology-box3,
.biology-box4,
.ecology-box3,
.ecology-box4,
.ai-box3,
.ai-box4 {
  grid-row: span 8;
  background-image: url(../images/moon-display.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cosmo-box4 {
  background-image: url(../images/moon-land.jpg);
}

.evolution-box2 {
  background-image: url(../images/mammoth.jpg);
  background-position: center;
}

.evolution-box3 {
  background-image: url(../images/evolution2.jpg);
  background-position: bottom;
}

.evolution-box4 {
  background-image: url(../images/neandertal.jpg);
}

.biology-box2 {
  background-image: url(../images/brain.jpg);
  background-position: center;
}

.biology-box3 {
  background-image: url(../images/anatomical.jpg);
  background-position: right;
}
.biology-box4 {
  background-image: url(../images/statue.jpg);
}

.ecology-box2 {
  background-image: url(../images/windmill.jpg);
  background-position: center;
}

.ecology-box3 {
  background-image: url(../images/alternative.jpg);
}

.ecology-box4 {
  background-image: url(../images/solar-powerjpg.jpg);
}

.ai-box2 {
  background-image: url(../images/cybernetics.jpg);
  background-position: center;
}

.ai-box3 {
  background-image: url(../images/robotics1.jpg);
}

.ai-box4 {
  background-image: url(../images/robot2.jpg);
  background-position-y: 20%;
}

/* <-------------------------- Exhibition -------------------------- */

/* -------------------------- Visit --------------------------> */

.visit-parallax {
  background-image: url(../images/building-museum.png);
}

.visit-box1,
.visit-box2 {
  background-color: var(--colorRubin);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--colorLight);
  padding: 20px;
}

.visit-box1 {
  grid-row: span 7;
}

.visit-box2,
.visit-box3 {
  grid-row: span 7;
  background-image: url(../images/coffeehouse.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.visit-box3 {
  background-image: url(../images/shop.jpg);
}

/* <-------------------------- Visit -------------------------- */

/* -------------------------- Events --------------------------> */

.event-box1 {
  background-color: var(--colorRubin);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--colorLight);
  padding: 20px;
}

.event-box1 {
  grid-row: span 7;
}

.event-box2 {
  grid-row: span 7;
  background-image: url(../images/steampunk.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: aero 5s forwards;
}
@keyframes aero {
  0% {
    background-position-y: -400px;
  }
  100% {
    background-position-y: 0px;
  }
}

.event-box3 {
  grid-row: span 7;
  background-image: url(../images/engine.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* <-------------------------- Events -------------------------- */

/* -------------------------- Explore --------------------------> */

.explore-box2 {
  grid-row: span 4;
  padding: 10px;
}

.explore-box3 {
  grid-row: span 5;
  background-image: url(../images/kids-science.jpg);
}

.explore-box4 {
  grid-row: span 5;
  background-image: url(../images/kids-science2.jpg);
}

.explore-box5 {
  grid-row: span 5;
  background-image: url(../images/kids-science3.jpg);
}

.explore-box6 {
  grid-row: span 5;
  background-image: url(../images/kids-science4.jpg);
}

.explore-box7 {
  grid-row: span 5;
  background-image: url(../images/kids-science5.jpg);
}

.explore-box8 {
  grid-row: span 5;
  background-image: url(../images/kids-science6.jpg);
}

.explore-box9 {
  grid-row: span 5;
  background-image: url(../images/reserch1.jpg);
}

.explore-box10 {
  grid-row: span 5;
  background-image: url(../images/reserch2.jpg);
}

/* <-------------------------- Explore -------------------------- */

/* -------------------------- Footer --------------------------> */

.footer {
  background-color: #0e0e0c;
  text-align: center;
  opacity: 90%;
}

.footer p {
  color: var(--colorLight);
}

i {
  color: var(--colorLight);
  font-size: 50px;
  padding: 10px;
}

hr {
  width: 80%;
  margin: 20px auto;
}

.footer li {
  padding: 5px;
}

/* <-------------------------- Footer -------------------------- */

@media screen and (min-width: 950px) {
  .navigation {
    display: flex;
    justify-content: space-around;
  }

  .navigation li {
    border: 0;
    padding: 10px 20px;
  }

  .mobile-menu {
    display: none;
  }

  .main-content {
    grid-template-columns: repeat(6, 1fr);
  }

  .exhibition {
    display: flex;
  }

  .ex-menu {
    position: sticky;
    top: 0;
  }

  .ex-menu a {
    width: 100%;
  }

  .home-box4 {
    height: 100px;
  }

  .cosmo-box1,
  .evolution-box1,
  .biology-box1,
  .ecology-box1,
  .ai-box1 {
    grid-row: span 12;
  }

  .evolution-box2,
  .ecology-box2,
  .ai-box2 {
    grid-row: span 6;
  }
  .evolution-box3,
  .evolution-box4,
  .ecology-box3,
  .ecology-box4,
  .ai-box3,
  .ai-box4 {
    grid-row: span 6;
  }

  .explore-box2 {
    grid-row: span 5;
  }

  .col2 {
    grid-column: span 2;
  }

  .col3 {
    grid-column: span 3;
  }

  .col4 {
    grid-column: span 4;
  }

  .col6 {
    grid-column: span 6;
  }
  .home-box7 {
    display: flex;
    grid-row: span 7;
    background-image: url(../images/erth-spin.gif);
  }
}
